* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::selection {
    color: white;
    background-color: black;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    border-color: #f7f7f7;
}

@font-face {
    font-family: a;
    src: url(./Futura-Bold.ttf);
}

@font-face {
    font-family: b;
    src: url(./Gilroy-Medium.ttf);
}

#nav {
    width: 100%;
    position: fixed;
    z-index: 99;
    display: flex;
    justify-content: space-between;
    align-items: self-start;
}

#nav-part1 {
    padding: 1vw 4vw;
    height: 97px;
    overflow: hidden;
}

#nav-part1 svg {
    display: block;
}

#nav-part2 {
    position: relative;
    display: flex;
    gap: 5vw;
    padding-right: 4.5vw;
}

#nav-part2 #links {
    display: flex;
    gap: 5vw;
    padding: 2.1vw;
}

#nav-part2 #links a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.918);
    font-family: b;
    font-size: 0.9vw;
}

#nav-part2 #nav-icons {
    height: 2.7vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1vw;
    padding: 0 2vw;
    gap: 5vw;
    border-radius: 50px;
    border: none;
    background-color: #FFFFFF;
    margin-top: 1.3vw;
}
#nav-icons i {
    font-size: 1vw;
    font-weight: 100;
}

#page1 {
    min-height: 100vh;
    max-width: 100vw;
    position: relative;
    padding: 0 2vw;
    padding-top: 31vh;
}

#page1 h1 {
    font-family: a;
    font-size: 15.4vw;
    line-height: 14vw;
    letter-spacing: -6px;
}

#page1 #video-container {
    height: 100vh;
    max-width: 93.3vw;
    position: relative;
    margin-top: 2vw;
    margin-left: 1.5vw;
}

#video-container video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#video-container #play {
    position: fixed;
    font-family: a;
    background-color: black;
    color: #fff;
    font-size: 1.3vw;
    font-weight: 100;
    border-radius: 50%;
    padding: 3vw 2.3vw;
    opacity: 0;
    scale: 0;
}

#page1-cursor {
    position: absolute;
    background-color: rgba(255, 192, 203, 0.808);
    height: 11vw;
    width: 11vw;
    transform: translate(-50%,-50%) scale(0);
    border-radius: 50%;
    padding: 3vw 2.3vw;
    z-index: -2;
}

#page2 {
    min-height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    padding: 3vw 0;
    justify-content: space-evenly;
}

#page2 .elem {
    height: 100%;
    max-width: 27%;
    /* background-color: red; */
    overflow: hidden;
    position: relative;
    object-fit: contain;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: b;
}

#page2 .elem img {
    height: 100%;
    width: 100%;
}

#page2 .elem #dets {
    background-color: rgba(222, 184, 135, 0.795);
    width: 19vw;
    height: 4vw;
    position: fixed;
    z-index: 9;
    border-radius: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* font-style: a; */
}

#page2 .elem #dets #text {
    display: flex;
    align-items: center;
    font-size: 1vw;
    font-family: b;
}

#page2 .elem #dets #item {
    font-size: 1.2vw;
    margin-bottom: 4px;
    font-family: b;
}

#page3 {
    height: 70vh;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
}

#page3 #left{
    height: 70vh;
    width: 65%;
    text-transform: uppercase;
    font-family: a;
    font-size: 2vw;
    padding: 2vw 4vw;
    line-height: 1;
}

#page3 #right {
    height: 100%;
    width: 35%;
    padding: 2vw 3vw;
}

#page3 #right h2 {
    font-family: b;
    color: #000000e7;
    font-weight: 100;
    font-size: 1.2vw;
    padding-bottom: 2vw;
    padding-top: 1vw;
    margin-right: 6vw;
}

#page3 #right button {
    position: relative;
    font-size: 1vw;
    font-family: a;
    padding: 1vw 3vw;
    border-radius: 100px;
    border: none;
    color: rgba(255, 255, 255, 0.959);
    background-color: rgba(0, 0, 0, 0.911);
    margin-top: 3vw;
}

#page4 {
    min-height: 100vh;
    width: 100%;
    position: relative;
}

#page4-inner {
    min-height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

#page4 .child {
    height: 45vh;
    width: 70vh;
    margin-bottom: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* border: 2px solid ; */
}

#page4 .child img {
    height: 85%;
    width: 70%;
    object-fit: contain;
    z-index: 3;
    /* border: 2px solid; */
}

#page4-inner>.child>.text {
    font-size: 0.9vw;
    width: 80%;
    color: #000;
    font-family: b;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1vw;
}

.child>.text>a {
    font-size: 0.7vw;
    padding-top: 0.4vw;
}


#cursor {
    position: absolute;
    background-color: rgba(211, 183, 147, 0.267);
    height: 11vw;
    width: 11vw;
    transform: translate(-50%,-50%) scale(0);
    border-radius: 50%;
    padding: 3vw 2.3vw;
    z-index: -2;
}




@media (max-width: 600px) {
    #nav-part1 {
        padding-top: 6vw;
        height: 110px;
    }

    #nav-part2 #nav-icons {
        height: 7vw;
        padding: 4vw 4vw;
        gap: 14vw;
        margin-top: 5vw;
    }

    #nav-part2 #links {
        gap: 0;
        padding: 0;
        opacity: 0;
    }

    #nav-icons i {
        font-size: 5vw;
    }



    #page1 {
        min-height: 70vh;
        width: 100%;
        padding: 0 3.2vw;
        padding-top: 25vh;
    }

    #page1 h1 {
        font-size: 15.5vw;
        letter-spacing: -3px;
    }

    #page1 #video-container {
        height: 25vh;
        margin-top: 3vw;
    }

    #video-container #play {
        position: absolute;
        color: #ffffffc5;
        font-size: 5vw;
        padding: 10vw 7vw;
        opacity: 1;
        scale: 1;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        
    }

    #page2 {
        min-height: 100vh;
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 3vw 3vw;
        justify-content: space-evenly;
    }

    #page2 .elem {
        height: 60vh;
        max-width: 100%;
        margin-bottom: 2vw;
        font-family: b;
    }

    #page2 .elem #dets {
        width: 60vw;
        height: 15vw;
    }

    #page2 .elem #dets #text {
        font-size: 3.4vw;
    }
    
    #page2 .elem #dets #item {
        font-size: 4vw;
        margin-bottom: 4px;
        font-weight: 100;
        color: #000000da;
        font-family: b;
    }

    #page3 {
        height: 60vh;
        width: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    #page3 #left{
        height: 20%;
        width: 100%;
        font-size: 3.7vw;
        text-align: center;
        padding-left: 6vw;
        font-weight: 600;
        margin-top: 7vw;
    }
    
    #page3 #right {
        height: 60%;
        width: 100%;
        padding: 2vw 3vw;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
    }
    
    #page3 #right h2 {
        font-size: 4vw;
        padding: 4vw 3vw;
        margin-right: 3vw;
        text-align: center;
    }
    
    #page3 #right button {
        font-size: 4vw;
        font-family: a;
        padding: 3vw 4vw;
    }

    #page4-inner {
        min-height: 100vh;
    }
    
    #page4 .child {
        height: 45vh;
        width: 100%;
        margin-bottom: 2vw;
    }
    
    #page4 .child img {
        height: 85%;
        width: 90%;
 
    }
    
    #page4-inner>.child>.text {
        font-size: 3.2vw;
        width: 80%;
    }
    
    .child>.text>a {
        font-size: 3vw;
        padding-top: 0.8vw;
    }
    
}